@import-normalize;
@import './fonts.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Sanstation', sans-serif;
  transition:
    background-color 0.5s,
    color 0.5s;

  // overflow-y: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__stack {
    width: 20%;
    display: flex;
    justify-content: center;
    gap: 20px;

    margin: 0 auto;

    font-weight: 600;
    font-size: 35px;

    &--title {
      // width: 35%;
      display: flex;

      align-items: center;
      padding: 20px 5px;

      border-radius: 8px;
      transform: rotate(0.75turn);
    }

    &--inf {
      display: flex;
      flex-direction: column;
    }
  }

  &__about {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;

    &--title {
      width: 200px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 600;
      font-size: 30px;

      padding: 0 10px;

      border-radius: 8px;
      transform: rotate(0.75turn);
    }

    &--text.dark,
    &--text.light,
    &--text {
      width: 60%;
      padding: 5px 10px;
      margin: 0;
      text-align: justify;

      font-weight: 800;
      border-radius: 8px;
    }
  }

  &--links {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 14px;
    padding: 3px 15px;

    border-radius: 8px;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.switch,
.switch-dark {
  cursor: pointer;
  position: absolute;
  width: 60px;
  height: 32px;

  top: 5%;
  right: 3%;

  display: flex;
  justify-content: flex-start;

  padding: 7px 10px 7px 5px;

  background-color: #c5c5c5;
  border-radius: 50px;
}

.switch-dark {
  background-color: #1d1d1d;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
}

.handle {
  font-size: 18px;
}

@media (max-width: 1800px) {
  .App {
    button {
      width: 20%;
    }

    &__about {
      width: 90%;
    }
  }

  .dark,
  .light {
    max-width: 70%;
  }
}

@media (max-width: 1280px) {
  .App {
    &__stack {
      &--logo {
        width: 100%;
      }
    }

    &__about {
      width: 100%;

      &--text {
        width: 100%;
      }
    }
  }

  .dark,
  .light {
    max-width: 70%;
  }
}

@media (max-width: 1000px) {
  .App {
    &__stack {
      // width: 50%;

      &--logo {
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .App {
    &--logo {
      width: 100%;
    }

    button {
      width: 30%;

      margin-top: 20px;
    }

    &__stack {

      &--inf,
      &--title {
        font-size: 25px;
      }
    }
  }

  .dark,
  .light {
    max-width: 95%;
  }

  footer {
    width: 100%;

    div {
      font-size: 15px;
    }
  }
}
